@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 100% 14%;
    --foreground: 184 18% 95%;
    --card: 199 100% 18%;
    --card-foreground: 184 18% 95%;
    --popover: 199 100% 18%;
    --popover-foreground: 184 18% 95%;
    --primary: 195 100% 33%;
    --primary-foreground: 184 18% 95%;
    --secondary: 199 80% 22%;
    --secondary-foreground: 184 18% 95%;
    --muted: 199 80% 22%;
    --muted-foreground: 183 42% 72%;
    --accent: 195 100% 33%;
    --accent-foreground: 184 18% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 184 18% 95%;
    --border: 199 80% 25%;
    --input: 199 80% 20%;
    --ring: 195 100% 33%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

