@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 63% 13%;
    --foreground: 37 40% 92%;
    --card: 235 58% 16%;
    --card-foreground: 37 40% 92%;
    --popover: 235 58% 16%;
    --popover-foreground: 37 40% 92%;
    --primary: 10 54% 66%;
    --primary-foreground: 235 63% 13%;
    --secondary: 235 60% 22%;
    --secondary-foreground: 37 40% 92%;
    --muted: 235 60% 22%;
    --muted-foreground: 37 35% 75%;
    --accent: 10 54% 66%;
    --accent-foreground: 235 63% 13%;
    --destructive: 0 75% 43%;
    --destructive-foreground: 37 40% 92%;
    --border: 235 50% 25%;
    --input: 235 50% 20%;
    --ring: 10 54% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

